.section{
    padding: 1em;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
}

.popup_text{
    font-size: 1em;
}
.button{
    cursor: pointer;
    margin-left: 1em;
    text-align: center;
    padding: 10px;
    font-size: 1em;
}
.color_default{
    color: white;
}
.section_default{
    background-color: #3e3f56;
}
.button_default{
    background-color: #c95667;
    color: white;
}
.color_light{
    color: black;
}
.section_light{
    background-color: white;
}
.button_light{
    background-color: #350134;
    color: white;
}