.section{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.default_theme{
    box-sizing: border-box;
    background-color: #3e3f56;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.light_theme{
    background-color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.Carousel{
   
    width: 100%;
    height: 70%;
}
.button{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    text-align: center;
}
.buttonColor_default{
    color: white;
    background-color:#c95667;
}
.buttonColor_light{
    color: white;
    background-color:#350134;
}
.color_default{
    color:white;
}
.color_light{
    color:black;
}
.button_container{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_container{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1em;
}