.section{
    padding: 0 1em;
    height: 100%;
}
.default_theme{
    background-color: #3e3f56;
}
.light_theme{
    background-color: white;
}
.text{
    font-family: 'Roboto', sans-serif;
}
.heading{
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif!important;
}
.color_default{
    color: white;
}
.color_light{
    color: black;
}
.category_row{
    margin-top: 2em;
}
.category_row__heading{
    display: flex;
    align-items: center;
}
.row_title{
    font-weight: 600;
    font-size: 1.5em;
}
.date_text{
    margin-left: 1em;
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.category_row__videos{
    display: flex;
    margin-top: 1em;
}
.video_container{
    display: flex;
    flex-direction: column;
}
.video_container__video{
    position: relative;
    background-color: #cccccc;
    --dimension: 300px;
    width: var(--dimension);
    height: var(--dimension);
    margin-bottom: 10px;
}
.info__video_name{
    margin-bottom: 10px;
    font-size: 1.5em;
}
.info__video_link{
    font-size: 1em;
}
.info__video_link:hover{
    color: #cccccc;
}
.video__preview{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.video__description{
    background-color: rgba(0, 0, 0, 0.8); 
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    top:-100%;
}
.description__date{
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-size: 0.8em;
}
.description__text{
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;

}
