.section{
    padding: 0 1em 1em 1em;
    height: 100%;
}
.default_theme{
    background-color: #3e3f56;
}
.light_theme{
    background-color: white;
}
.text{
    font-family: 'Roboto', sans-serif;
}
.heading{
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif!important;
}
.color_default{
    color: white;
}
.color_light{
    color: black;
}
.category_row{
    min-width: 300px;
    margin-top: 2em;
}
.category_row__heading{
    display: flex;
    align-items: center;
}
.row_title{
    font-weight: 600;
    font-size: 1.5em;
}
.date_text{
    margin-left: 1em;
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.category_row__videos{
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.video_container{
    max-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video_container__video{
    position: relative;
    background-color: #cccccc;
    --dimension: 300px;
    width: var(--dimension);
    height: var(--dimension);
    margin-bottom: 10px;
}
.video_container__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.info__video_name{
    margin-bottom: 10px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.info__video_name_edit{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 5px;
}
.info__video_name_edit_pencil{
    cursor: pointer;
    width: 1em;
    height: 1em;
}
.info__video_name_edit_pencil:hover{
    -webkit-filter:  invert(0.5);
    filter: invert(0.5);
}
.default_element_theme{
    -webkit-filter:  invert(1);
    filter: invert(1);
}
.light_element_theme{
    /*none*/
    --var:100;
}
.info__video_link{
    font-size: 1em;
}
.info__video_link:hover{
    color: #cccccc;
}
.video__preview{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.video__description{
    background-color: rgba(0, 0, 0, 0.8); 
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    top:-100%;
}

.description__date{
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-size: 0.8em;
}
.description__text{
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.description__top_panel{
    position: absolute;
    top: 10px;
    right: 0;
    
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.description__top_panel span{
    cursor: pointer;
}
.description__top_panel span:hover{
    color: #cccccc;
}
.description__button{
    background: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
}
.description__button:hover{
   color: #cccccc;
}
.description__textarea{
    resize: none;
    background: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding:0 10px;
}
.videos__more_button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    text-align: center;
    border-radius: 50%;
    background-color: #cccccc;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(50%);
}
.videos__text{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.videos__add_some_video{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
