.section{
    padding: 1em;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.section__header{
    margin-top: 10px;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section__text{
    margin-top: 1em;
    font-size: 1em;
}
.section__close{
    cursor: pointer;
    font-size: 1em;
}
.button{
    text-align: center;
    margin-top: 1em;
    padding: 10px;
    width: 150px;
    font-size: 1em;
}
.top_panel{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.color_default{
    color: white;
}
.section_default{
    background-color: #3e3f56;
}
.button_default{
    background-color: #c95667;
    color: white;
}
.color_light{
    color: black;
}
.section_light{
    background-color: white;
}
.button_light{
    background-color: #350134;
    color: white;
}