.heading__title{
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif!important;
}
.edit_field{
    font-family:Verdana, Geneva, Tahoma, sans-serif!important;
    resize:both;
    font-size: 1.2em;
    height: 2em;
    box-sizing: border-box;
    color: black;
    padding: 5px;
    background: none;
}
.default_theme{
    color: white;
    outline-color: #c95667 ;
    border: 2px solid #c95667;
}
.light_theme{
    outline-color: #350134 ;
    border: 2px solid #350134;
}
.playlist_section__heading{
    display: flex;
    align-items: center;
}
.heading__icon{
    margin-left: 1em;
    cursor: pointer;
    width: 2em;
    padding: .2em;
    border-radius: 5px;
}
.heading__icon img{
    object-fit: contain;
    width: 100%;
}
.color_default{
    color: white;
}
.color_light{
    color: black;
}
.playlist_section{
    padding: 0 1em 1em 1em;
    height: 100%;
}
.playlist_section__videos{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.playlist_section__videos div{
    margin: 0 1em 1em 0;
}
.buttonColor_default{
    background-color: #c95667;
}
.buttonColor_light{
    background-color: white;
}
.playlist_section__description{
    margin-top: 1em;
}
.description__text{
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}
.description__buttons{
   display: flex;
}
.description__buttons button{
    margin-left: 0;
    margin-right: 1em;
    margin-top: 10px;
 }
.date_text{
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}